<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>お気に入り一覧</h4>
      <div class="d-flex flex-wrap">

      <% @favorite_travel_memories.each do |travel_memory| %>
        <div class="box mx-2">
          <%= link_to travel_memory_path(travel_memory) do %>
            <%= image_tag travel_memory.get_image, size: "200x200" %>
          <% end %>
          <p>場所:<%= travel_memory.place %></p>
          <p>紹介:<%= travel_memory.introduction %></p>
          <% if customer_signed_in? %>
            <!--いいね機能非同期通信-->
              <p id="favorite_<%= travel_memory.id %>">
                <%= render 'public/favorites/btn', travel_memory: travel_memory %>
              </p>
            <% end %>
            <p><%= link_to '詳細を見る', travel_memory_path(travel_memory.id) %></p>
        </div>
      <% end %>

      </div>
    </div>
  </div>
</div>
