<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-5">
      <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
      <table class="table mt-3">
        <h3>会員情報編集</h3>
        <tr>
          <th>ユーザー名</th>
          <td colspan="2"><%= f.text_field :screen_name %></td>
        </tr>
        <tr>
          <th>氏名</th>
          <td class="d-flex　bd-highlight"><span>姓</span><%= f.text_field :last_name %></td>
          <td class="d-flex　bd-highlight"><span>名</span><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td class="d-flex　bd-highlight">
            <span>姓</span>
            <%= f.text_field :last_kana %>
          </td>
          <td class="d-flex　bd-highlight">
            <span>名</span>
            <%= f.text_field :first_kana %>
          </td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td colspan="2"><%= f.email_field :email %></td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td>
            <%= f.radio_button :is_deleted, "false" %>
            <%= f.label :is_deleted, "有効" %>
          </td>
          <td>
            <%= f.radio_button :is_deleted, "true" %>
            <%= f.label :is_deleted, "退会" %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "保存する", class: "btn btn-sm btn-success" %></td>
          <td><%= link_to "詳細に戻る", admin_customer_path(@customer), class: "btn btn-sm btn-primary" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>
