<div class="container">
  <%= render 'public/travel_memories/errors', obj: @travel_memory %>
  <div class="row">
    <div class="col-md-6" style="margin-top: 50px;">
      <h1>投稿編集</h1>

      <%= form_with model: @travel_memory, url: travel_memory_path, method: :patch do |f| %>
        <p>画像</p>
        <%= f.file_field :image %>

        <p>場所</p>
        <%= f.text_field :place %>

        <p>紹介文</p>
        <%= f.text_area :introduction %>

        <p>
          <%= f.submit "編集する", class: "btn btn-sm btn-success" %>
          <%= link_to "削除する", travel_memory_path, method: :delete, class: "btn btn-sm btn-danger" %>
        </p>
      <% end %>
      <p>
        <%= link_to "戻る", travel_memory_path %>
      </p>
    </div>
  </div>
</div>
