<h1>Public::TravelMemories#index</h1>
<h1>投稿一覧</h1>
<% @travel_memories.each do |travel_memory| %>
  <p>画像</p>
  <%= link_to travel_memory_path(travel_memory.id) do %>
    <%= image_tag travel_memory.get_image, size: "100x100" %>
  <% end %>

  <p>場所</p>
  <%= travel_memory.place %>

  <p>紹介文</p>
  <%= travel_memory.introduction %>

  <p>コメント件数:<%= travel_memory.travel_memory_comments.count %></p>
  <p><%= render 'public/favorites/btn', travel_memory: travel_memory %></p>
  <p><%= link_to '詳細を見る', travel_memory_path(travel_memory.id) %></p>
<% end %>
