<div class="container">
  <div class="row">

    <div class="col-md-6" style="margin-top: 50px;">
      <h4 style="margin-top: 30px;">投稿詳細</h4>
      <p><%= image_tag @travel_memory.get_image, size: "150x150" %></p>

      <p>場所:<%= @travel_memory.place %></p>

      <p>紹介文
      <%= @travel_memory.introduction %>
      </p>
      <p>投稿者：<%= link_to @customer.screen_name, customer_path(@travel_memory.customer) %></p>
      <% if customer_signed_in? %>
        <!--いいね機能非同期通信-->
        <p id="favorite_<%= @travel_memory.id %>">
          <%= render 'public/favorites/btn', travel_memory: @travel_memory %>
        </p>
        <p>
          <%= link_to '一覧に戻る', travel_memories_path, class: "btn btn-sm btn-primary" %>

          <% if @customer.id == current_customer.id %>
            <%= link_to '編集する', edit_travel_memory_path, class: "btn btn-sm btn-success" %>
          <% end %>
        </p>
      <% end %>
      <p class="comments-count"><%= render 'public/travel_memory_comments/counter', travel_memory: @travel_memory %></p>
      <div class="new-comment">
        <%= render 'public/travel_memory_comments/comment', travel_memory: @travel_memory, travel_memory_comment: @travel_memory_comment %>
      </div>
      <% if customer_signed_in? %>
        <div id="comments-area">
          <%= render 'public/travel_memory_comments/form', travel_memory: @travel_memory, travel_memory_comment: @travel_memory_comment %>
        </div>
      <% end %>
    </div>
    <div class="col-md-6" style="margin-top: 100px;">
      <div id="map"></div>
      <style>
        #map {
          height: 400px;
          width: 600px}
      </style>

      <div id="map"></div>
      <style>
        #map {
          height: 400px;
          width: auto}
      </style>

      <script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
      <script>
        var map;
        var marker;
        var infoWindow;

        function initMap() {
          //  マップ初期表示の位置設定
          var map = document.getElementById('map');
          var empire = {lat:<%= @travel_memory.latitude %>, lng: <%= @travel_memory.longitude %>};

          // マップ表示
          map = new google.maps.Map(map, {
            center: empire,
            zoom: 14
          });

          var marker = new google.maps.Marker({
                position: empire,
                map: map,
          });
        }
      </script>
    </div>
  </div>
</div>
