<div class="container">
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2" style="text-align: center; margin-top: 50px;">
      <h2>Log in</h2>
    </div>
    <div class="col-md-6" style=" margin-top: 80px;">
      <%= form_with model: @customer,url: customer_session_path do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions mt-3">
          <%= f.submit "ログイン", class: "btn btn-md btn-success" %>
        </div>
      <% end %>

      <%= render "public/shared/links" %>

    </div>
  </div>
</div>
