<!--headerの部分テンプレート-->
<header>
  <div class="container">
    <%= link_to "travel", root_path %>
    <div>
      <ul>
        <% if customer_signed_in? %>
          <li>
            <%= link_to "マイページ", customer_path(current_customer) %>
          </li>
          <li>
            <%= link_to "新規投稿", new_travel_memory_path %>
          </li>
          <li>
            <%= link_to "投稿一覧", travel_memories_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
          </li>
        <% elsif admin_signed_in? %>
          <li>
            <%= link_to "会員一覧", admin_customers_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "about", about_path %>
          </li>
          <li>
            <%= link_to "投稿一覧", travel_memories_path %>
          </li>
          <li>
            <%= link_to "ログイン", customer_session_path %>
          </li>
          <li>
            <%= link_to "新規登録", new_customer_registration_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</header>